<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ja" th:insert="_template :: head">
  <title>404 Not Found</title>
</head>
<body>

<!-- Include Header -->
<div th:insert="_template :: header"></div>

<!-- Main Content -->
<div>
  <main>
    <div class="row">
      <div class="col push-s3 s6 center card-panel #80cbc4 teal-text lighten-3">
        <h4>404 Not Found</h4>
        <p>
          The page you are looking for could not be found.
        </p>
      </div>
    </div>
  </main>
</div>

<!-- Include Footer -->
<div th:insert="_template :: footer"></div>

</body>
</html>
