<div class="row" th:fragment="update_form">
  <div class="input-field col push-s3 s6">
    <input id="file_name" type="text" class="validate">
    <label for="file_name">File Name</label>
  </div>
  <div class="col push-s1 s5">
    <br><a class="waves-effect waves-light btn #ff8a80 red accent-1" href="#">Delete</a>
  </div>
  <div class="input-field col s12">
    <textarea id="textarea1" class="materialize-textarea"></textarea>
  </div>
  <div class="col push-s3 s4">
    <br><a class="waves-effect waves-light btn #eeeeee grey lighten-2" href="/server">Back</a>
  </div>
  <div class="col push-s1 s4">
    <br><a class="waves-effect waves-light btn #a5d6a7 green lighten-3" href="#">Create</a>
  </div>
</div>
