<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="ja" th:insert="template :: head">
</head>
<body>

<!-- Include Header -->
<div th:insert="template :: header"></div>

<!-- Main Content -->
<div>
  <main>
    <div class="row center">
      <h3 >Login</h3>
    </div>
    <div class="row center">
      <form class="col s6 push-s3" action="#" method="post" name="login">
        <div class="row">
          <div class="input-field col s6 push-s3">
            <input id="username" type="text" name="username" class="validate" required>
            <label for="username">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s6 push-s3">
            <input id="password" type="password" name="password" class="validate" required>
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect waves-light" type="submit" name="action">Submit
          <i class="material-icons right">send</i>
        </button>
      </form>
    </div>
  </main>
</div>

<!-- Include Footer -->
<div th:insert="template :: footer"></div>

</body>
</html>